@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
.slide-container{
    position: relative;
    margin: auto;
    width: 100%;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    
}
.img{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}