.card{
    display: flex;
    justify-content: center;
    
}
.cardDiv{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardArea{
    display: flex;
    justify-content: center;
    align-items: center;
}