@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
.searchButton{
    color: white;
}
@media (min-width: 0px) and (max-width:600px ) {
    .search{
        display: flex;
        justify-content: center;
        margin-right: 40px;
        margin-left: 20px;
        
    }
  }
.navButton{
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
}
.navButton:hover{
        color: white;
}