@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
.searchButton{
    color: white;
}
@media (min-width: 0px) and (max-width:600px ) {
    .search{
        display: flex;
        justify-content: center;
        margin-right: 40px;
        margin-left: 20px;
    }
  }